/* .container {
    background-image: url(/assets/images/coffeeeeee.jpg);
    height: 100vh;
    object-fit: cover;
} */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
   background-color: rgb(226,220,193);
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.box {
    display: flex;
    flex-direction: row;
    position: relative;
    padding: 60px 20px 30px 20px;
    height: 500px;
    width: 350px;
    background-color: rgba(211, 211, 211, 0.471);
    border-radius: 30px;
    -webkit-backdrop-filter: blur(15px);
    backdrop-filter: blur(15px);
    border: 3px solid  rgba(211, 211, 211, 0.471);
    overflow: hidden;
}
.top-header h3 {
    margin-bottom: 8px;
}
.input-group {
    width: auto;
}

.input-box {
    width: 100%;
    height: 50px;
    color: rgb(23, 22, 22);
    border: none;
    border-radius: 10px;
    background: rgba(235, 235, 235, 0.597);
    backdrop-filter: blur(2px);
    outline: none;
}

.eye-area{
    position: absolute;
    top: 50px;
    right: 25px;
}
.eye-box{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
i { 
    position: absolute;
    color: gray;
    cursor: pointer; 
}
#eye{
    opacity: 1;
}
#eye-slash{
    opacity: 0;
}
.forgot a {
    color: rgba(11, 11, 11, 0.573);
}

.validation span {
    display: none;
}
/* .success i.fa-circle-check{
    display: contents;
} */
.success {
    display: contents;
}

.u-error .text-danger{
    display: contents;
}
/* .p-error i.fa-circle-exclamation{
    display: contents;
} */
.p-error .text-danger{
    display: contents;
}

